html,
body, #root{
  margin: 0 auto;
  padding: 0 0;
  background-color: #00264d !important;
  font-family: "Roboto Slab";
  position: relative;
  width: auto;
  height: auto;
  scroll-behavior: smooth;
}

/* Typing effect */
.typing-effect {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #00264d;
  width: 11ch;
  animation: typing 4s steps(11, end) infinite, blink 0.6s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 11ch;
  }
  100% {
    width: 0;
  }
}
